#include "../../config/wristlink-flavors.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.wristlink.wristlinkFlutter.dev
WRISTLINK_CONNECT_IQ_APP_UUID = $(WRISTLINK_DEV_CONNECT_IQ_APP_UUID)
WRISTLINK_GARMIN_CALLBACK_SCHEME = wristlink-ciq-dev
WRISTLINK_GOOGLE_MAPS_API_KEY = $(WRISTLINK_DEV_GOOGLE_MAPS_API_KEY)
WRISTLINK_SHARE_CALLBACK_SCHEME = wristlink-share-dev
WRISTLINK_APP_GROUP = group.com.wristlink.wristlinkFlutter.dev
WRISTLINK_SHARE_EXTENSION_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).ShareExtension
