#include "../../config/wristlink-flavors.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.wristlink.wristlinkFlutter
WRISTLINK_CONNECT_IQ_APP_UUID = $(WRISTLINK_PROD_CONNECT_IQ_APP_UUID)
WRISTLINK_GARMIN_CALLBACK_SCHEME = wristlink-ciq
WRISTLINK_GOOGLE_MAPS_API_KEY = $(WRISTLINK_PROD_GOOGLE_MAPS_API_KEY)
WRISTLINK_SHARE_CALLBACK_SCHEME = wristlink-share
WRISTLINK_APP_GROUP = group.com.wristlink.wristlinkFlutter
WRISTLINK_SHARE_EXTENSION_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).ShareExtension
